html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}

*{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 12px;
    min-height: 300 px;

}

@media screen and (max-width: 768px){
    .column{
        width: 100%;
    }
}

table, tr,th,td,caption {
    border: 1px solid #eee;
    font-family: 'courier New', courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

